@model IEnumerable<EcosistemasMarinos.Entidades.EcosistemaMarino>

@{
    ViewData["Title"] = "EcosistemasDadaUnaEspecie";
}

<h1>EcosistemasDadaUnaEspecie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristicas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoConservacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgEcosistema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristicas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoConservacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codPais)
            </td>
                <td>
                    <img class="img-thumbnail" src="~/img/Ecosistemas/@item.ImgEcosistema" />
                </td>
            @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
