@model EcosistemasMarinos.Entidades.EspecieMarina
@* 
<h3>Filtrar por nombre cientifico</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Ingrese un nombre cientifico</label>
                <input name="NombreCientifico" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCientifico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreVulgar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table> *@