@using EcosistemasMarinos.Entidades;
@model EcosistemasMarinos.Entidades.EcosistemaMarino

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EcosistemaMarino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* nombre del ecosistema *@
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            @* Area en metros cuadrados *@
            <div class="form-group">
                <label asp-for="Area" class="control-label">Area en metros cuadrados</label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>

            @* Caracteristicas del ecosistema *@
            <div class="form-group">
                <label asp-for="Caracteristicas" class="control-label"></label>
                <input asp-for="Caracteristicas" class="form-control" />
                <span asp-validation-for="Caracteristicas" class="text-danger"></span>
            </div>

            

             <div class="form-group">
                <label for="Pais">Pais</label>
                <select class="form-control" asp-for="codPais" >
                    <option disabled>-- Seleccione pais --</option>
                    @foreach (var p in ViewBag.Paises)
                    {
                        <option value="@p.Codigo">@p.Nombre</option>
                    }
                </select>
            </div> 
          

            @* latitud *@
            <div class="form-group">
                <label asp-for="UbicacionGeografica.Latitud" class="control-label"></label>
                <input asp-for="UbicacionGeografica.Latitud" class="form-control" />
                <span asp-validation-for="UbicacionGeografica.Latitud" class="text-danger"></span>
            </div>

            @* longitud *@
            <div class="form-group">
                <label asp-for="UbicacionGeografica.Longitud" class="control-label"></label>
                <input asp-for="UbicacionGeografica.Longitud" class="form-control" />
                <span asp-validation-for="UbicacionGeografica.Longitud" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label for="EstadoConservacion">EstadoConservacion</label>
                <select class="form-control" asp-for="IdEstadoConservacion">
                    <option disabled>-- Seleccione estado de conservacion --</option>
                    @foreach (var estado in ViewBag.Estados)
                    {
                        <option value="@estado.Id">@estado.Nombre</option>
                    }
                </select>
            </div>



            <div class="form-group">
                <label for="Amenazas">Amenazas</label>
                <select multiple="multiple" class="form-control" asp-for="_amenazas" name="amenazaIds">
                    <option disabled>-- Seleccione amenazas --</option>
                    @foreach (var a in ViewBag.Amenazas)
                    {
                        <option value="@a.IdAmenaza">@a.Descripcion</option>
                    }
                </select>
            </div>


            <div class="form-group">
                <label asp-for="ImgEcosistema" class="control-label"></label>
                <input asp-for="ImgEcosistema" type="file" name="imagen" class="form-control" />
                <span asp-validation-for="ImgEcosistema" class="text-danger"></span>
            </div>

      
          

            <div class="form-group pt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}